.vscode/
src/runpro
a.out
runProgram
tests/lib/
tests/CMakeCache.txt
tests/CMakeFiles/
tests/cmake_install.cmake
tests/Makefile
src/CMakeCache.txt
src/CMakeFiles/
src/cmake_install.cmake
tests/test
tests/CastTest
tests/MovieTest
src/Makefile
tests/runTests
tests/runUserMain
data/nteMovies.txt
data/whatMovies.txt
data/ReeMovies.txt